<h3 class="pmp-instruction-heading pmp-margin-top-zero">Adoptable Search Shortcode</h3>

<p class="pmp-instruction">[pmp-adoptable-search] - Use this shortcode in a page of your website to display adoptable animal search results from Rescue Groups. </p>



<h3 class="pmp-instruction-heading">Adoptable Search Parameters</h3>

<div id="pmp-search-parameters-adopt-wrapper" class="pmp-div-table">

	<div class="pmp-div-table-heading">

		<div class="pmp-div-table-col">Name</div>

		<div class="pmp-div-table-col">Values</div>

		<div class="pmp-div-table-col">Description</div>

	</div>



	<div class="pmp-div-table-row">

		<div class="pmp-div-table-col">species - <span class="pmp-red">required</span>.</div>

		<div class="pmp-div-table-col"><span class="pmp-bold">all, barnyard, bird</span>, cat, dog,<span class="pmp-bold"> horse, pig, rabbit, reptile, small&amp;furry, other</span></div>

		<div class="pmp-div-table-col">Enclose a single value from the list in double quotes.</div>

	</div>

	

	<div class="pmp-div-table-row">

		<div class="pmp-div-table-col">title - <span class="pmp-blue">optional</span>.</div>

		<div class="pmp-div-table-col">Free Text</div>

		<div class="pmp-div-table-col">Enclose text to be displayed above the search results in double quotes.</div>

	</div>

	

	<div class="pmp-div-table-row">

		<div class="pmp-div-table-col pmp-min-height-300">filter - <span class="pmp-blue">optional</span>.<br>Values provided in the shortcode override the options configured in the <i>Filter Options</i> tab.</div>

		<div class="pmp-div-table-col pmp-min-height-300"><span class="pmp-bold">animaldeclawed, animalgeneralage, animalneedsfoster, animalokwithcats, animalokwithdogs, animalokwithkids, animalsearchstring</span>, animalsex, <span class="pmp-bold">animalspecialdiet, animalspecialneeds</span>, animalspecies, <span class="pmp-bold">animalyardrequired, sortfield, sortorder</span></div>

		<div class="pmp-div-table-col pmp-min-height-300">Enclose the filter options for the animal search separated by commas in double quotes. The filters are displayed in the order listed.</div>

	</div>

	

	<div class="pmp-div-table-row">

		<div class="pmp-div-table-col pmp-min-height-300">details - <span class="pmp-blue">optional</span>.<br>Values provided in the shortcode override the options configured in the <i>Filter Options</i> tab.</div>

		<div class="pmp-div-table-col pmp-min-height-300"><span class="pmp-bold">animalid, animaladoptionfee, animalaltered, animalbirthdate</span>, animalbreed<span class="pmp-bold">, animaldeclawed, animalfence</span>, animalgeneralage<span class="pmp-bold">, animalhousetrained</span>, animalname<span class="pmp-bold">, animalneedsfoster, animalokwithadults, animalokwithcats, animalokwithdogs, animalokwithkids</span>, animalprimarybreed<span class="pmp-bold">, animalsecondarybreed</span>, animalsex<span class="pmp-bold">, animalsizecurrent, animalsizeuom, animalspecialneeds, animalspecialdiet</span>, animalspecies<span class="pmp-bold">, animalvideos, animalvideourls, animalyardrequired</span></div>

		<div class="pmp-div-table-col pmp-min-height-300">Enclose the result fields to display as search results separated commas in double quotes. The fields are displayed in the order listed.</div>

	</div>

	

	<div class="pmp-div-table-row">

		<div class="pmp-div-table-col">count - <span class="pmp-blue">optional</span>.</div>

		<div class="pmp-div-table-col">Positive Integer</div>

		<div class="pmp-div-table-col">Enclose the number of search results to return in double quotes.</div>

	</div>

	

</div>

<p class="pmp-instruction"><span class="pmp-bold">NOTES:</span> The use of <span class="pmp-bold">bold values</span> requires a <span class="pmp-green">paid subscription</span>. Review the Rescue Groups documentation for a complete description for each field.</p>



<h3 class="pmp-instruction-heading">Adoptable Search Shortcode Best Practices</h3>

<ol>

	<li class="pmp-instruction">species - Create a separate page on your website for each species of animal.</li>

	<li class="pmp-instruction">title - Include a call to action or other descriptive text to assist website visitors.</li>

	<li class="pmp-instruction">filter - Only include fields for which data is available. Do not include fields requiring visitors to enter text values.</li>

	<li class="pmp-instruction">details - Include the minimum amount of information required to select an animal search result.</li>

</ol>



<h3 class="pmp-instruction-heading">Adoptable Search Shortcode Example</h3>

<p class="pmp-instruction">[pmp-adoptable-search animalspecies="cat" title="Available Cats for Adoption" filter="animalsex,animalgeneralage,animalokwithcats,animalokwithdogs,animalokwithkids,sortfield,sortorder" details="animalname,animalsex,animalgeneralage"]</p>

<p class="pmp-instruction">This shortcode displays search results for adoptable cats with the title specified above the search results. Website visitors can filter by sex, general age, ok with cats, ok with dogs and ok with kids and can sort the results by the options configured in the <i>Filter Options</i> tab by the order selected. The animal name, sex and general age are displayed for each search result.</p>