<h3 class="pmp-instruction-heading pmp-margin-top-zero">Animal Detail Shortcode</h3>
<p class="pmp-instruction">[pmp-detail] - Use this shortcode to display a single detail of a specific animal from AnimalsFirst.</p>

<h3 class="pmp-instruction-heading">Animal Detail Parameters</h3>
<div id="pmp-detail-parameters-adopt-wrapper" class="pmp-div-table">
	<div class="pmp-div-table-heading">
		<div class="pmp-div-table-col">Name</div>
		<div class="pmp-div-table-col">Values</div>
		<div class="pmp-div-table-col">Description</div>
	</div>

	<div class="pmp-div-table-row">
		<div class="pmp-div-table-col pmp-min-height-300">detail - <span class="pmp-red">required</span>.</div>
		<div class="pmp-div-table-col pmp-min-height-300"><span class="pmp-bold">address, address_1, address_2, adopt_profile_url, adoption_fee, age</span>, all_photos<span class="pmp-bold">, altered, birthday</span>, breed<span class="pmp-bold">, city, country, est_birthday, declawed</span>, description, display_age<span class="pmp-bold">, featured</span>, gender<span class="pmp-bold">, google_address_url, google_geometry, google_formatted_address, google_lat, google_lng, id, intake_date, intake_type, kennel, location, long_address, los, microchip</span>, name<span class="pmp-bold">, outcome_date, primary_color, secondary_breed, secondary_color, seq_id, shelter_id, size</span>, species<span class="pmp-bold">, state, status, youtube_links, zip</span></div>
	<div class="pmp-div-table-col pmp-min-height-300">Enclose the desired detail in double quotes.</div>
	</div>
	
	<div class="pmp-div-table-row">
		<div class="pmp-div-table-col">case - <span class="pmp-blue">optional</span>.</div>
		<div class="pmp-div-table-col">The format to display the animal detail.</div>
		<div class="pmp-div-table-col">Enclose the value lower, mixed or upper in double quotes.</div>
	</div>	
	<div class="pmp-div-table-row">
		<div class="pmp-div-table-col">replace - <span class="pmp-blue">optional</span>.</div>
		<div class="pmp-div-table-col">Character(s) used to replace spaces in the animal detail.</div>
		<div class="pmp-div-table-col">Enclose the character(s) in double quotes.</div>
	</div>			
</div>
<p class="pmp-instruction"><span class="pmp-bold">NOTES:</span> The use of <span class="pmp-bold">bold values</span> requires a <span class="pmp-green">paid subscription</span>. Review the AnimalsFirst documentation for a complete description for each field.</p>

<h3 class="pmp-instruction-heading">Animal Detail Shortcode Best Practices</h3>
<ol>
	<li class="pmp-instruction">Use this shortcode to customize the heading and/or copy of your website page displaying animal details for any search method (adoption, lost or found).</li>
	<li class="pmp-instruction">detail - Only a single detail can be used as a parameter.</li>
	<li class="pmp-instruction">case - The detail is displayed as lower case if the case parameter is not included.</li>
	<li class="pmp-instruction">replace - Used only when the data is poorly formatted.</li>	
</ol>

<h3 class="pmp-instruction-heading">Animal Detail Shortcode Example</h3>
<p class="pmp-instruction">[pmp-detail detail="name" case="mixed"]</p>
<p class="pmp-instruction">This shortcode displays an animal's name in mixed case (first letter capitalization).</p>