<h3 class="pmp-instruction-heading pmp-margin-top-zero">PetMatchPro Plugin Download</h3>
<ol>
<li class="pmp-instruction">Login to your PetMatchPro account.</li>
<li class="pmp-instruction">Select the <i>Downloads</i> tab.</li>
<li class="pmp-instruction">Click the link for the highest version of the <i>petmtachpro-vx.y.z.zip</i> file displayed in the listing.</li>
</ol>
<h3 class="pmp-instruction-heading">Social Sharing Plugin Download</h3>
<ol>
<li class="pmp-instruction">Login to your PetMatchPro account.</li>
<li class="pmp-instruction">Select the <i>Downloads</i> tab.</li>
<li class="pmp-instruction">To download the plugin, click the link for the file <i>petmatchpro-social-share-plugin.zip</i> displayed in the listing.</li>
<li class="pmp-instruction">To download the plugin settings file, click the link for the file <i>petmatchpro-social-share-plugin-settings.zip</i> displayed in the listing.</li>
</ol>
<h3 class="pmp-instruction-heading">PetMatchPro Plugin Activation</h3>
<ol>
<li class="pmp-instruction">Login to your website as an administrator.</li>
<li class="pmp-instruction">Follow the steps required to add a new plugin from a zip file.</li>
<li class="pmp-instruction">Once the file has been uploaded, activate the PetMatchPro plugin.</li>
<li class="pmp-instruction">Navigate to <i>PetMatchPro/License Information</i> in the side menu of your website administration area.</li>
<li class="pmp-instruction">Enter the <i>License Code</i> received via email after registering for the plugin and your registration email and click the <i>Activate</i> button.</li>
</ol>
<h3 class="pmp-instruction-heading">Social Share Plugin Activation</h3>
<ol>
<li class="pmp-instruction">Extract the settings file from the zip file <i>petmatchpro-social-share-plugin-settings.zip</i>.</li>
<li class="pmp-instruction">Login to your website as an administrator.</li>
<li class="pmp-instruction">Follow the steps required to add a new plugin from a zip file.</li>
<li class="pmp-instruction">Once the file <i>petmatchpro-social-share-plugin.zip</i> has been uploaded, activate the Monarch plugin.</li>
<li class="pmp-instruction">Navigate to <i>Tools/Monarch Settings</i> in the side menu of your website administration area.</li>
<li class="pmp-instruction">Select the <i>import/export</i> icon (up and down arrow) from the heading of the Monarch settings.</li>
<li class="pmp-instruction">Click the <i>Choose File</i> button within the import section and navigate to the settings file you extracted in the first step.</li>
<li class="pmp-instruction">After the file is selected the <i>Import</i> button will be enabled. Click the <i>Import</i> button to configure the Monarch Social Sharing plugin.</li>
<li class="pmp-instruction">NOTE: USE OF THE SOCIAL SHARE FEATURE REQUIRES A PAID SUBSCRIPTION.</li>
</ol>