<h3 class="pmp-instruction-heading pmp-margin-top-zero">Social Sharing Shortcode</h3>
<p class="pmp-instruction">[pmp-social-share] - use this shortcode to allow your website visitors to easily share your adoptable pets with their social networks.</p>

<h3 class="pmp-instruction-heading">Social Sharing Parameters</h3>
<p class="pmp-instruction">This shortcode does not accept parameters. Configuration is done thru the admin interface of your WordPress website using <i>Tools/Monarch Settings</i>.</p>
<p class="pmp-instruction"><span class="pmp-bold">NOTES:</span> This shortcode requires a <span class="pmp-green">paid subscription</span>.

<h3 class="pmp-instruction-heading">Social Sharing Shortcode Best Practices</h3>
<ol>
	<li class="pmp-instruction">Use this shortcode increase your animal's visibility by encouraging your website visitors to promote them through their social networks.</li>
	<li class="pmp-instruction">Location - Enable the INLINE option.</li>
	<li class="pmp-instruction">Networks - Add networks/options you believe are used by your website visitors.</li>
	<li class="pmp-instruction">INLINE - Select the icon style and shape you would like to use. Select the option to <i>Remove Icon Spacing</i>.</li>
</ol>

<h3 class="pmp-instruction-heading">Social Sharing Shortcode Example</h3>
<p class="pmp-instruction">[pmp-social-share]</p>
<p class="pmp-instruction">This shortcode displays the social sharing options configured using the <i>Monarch</i> plugin.</p>